@import "mixins";

#wrap {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  #container {
    width: 100vw;
    height: auto;
    background-color: #ffffff;

    .top {
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      position: relative;
      background: url(../image/sub_spavillaMain.jpg) no-repeat center center;
      background-attachment: fixed; /* 배경을 고정시킴 */

      &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: rgb(97 97 97 / 23%);
      }
      h2 {
        display: inline-block;
        height: 90px;
        font-size: 3.3rem;
        font-family: "Prata";
        color: #ffffff;
        position: absolute;
        left: 100px;
        margin-top: 95px;
        transform: translateX(-145%);
        transition: all 1s;
        &::after {
          content: "스파빌라";
          display: flex;
          position: relative;
          top: 23px;
          font-size: 1.2rem;
        }
      }
      h2.sliding {
        transform: translateX(0);
      }
    }
    .roomIntroduction {
      width: 100%;
      height: 112vh;
      background-color: #ffffff;
      .roomName {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 200px;
        h3 {
          @include subjectText;
        }
        span {
          padding-top: 15px;
          color: darkgray;
          font-size: 1.2rem;
        }
      }
      .roomImg {
        width: 100%;
        height: 76%;

        .roomHidden {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;
          margin-top: 30px;
          ul.roomImg_ul {
            width: 1599%;
            height: 85vh;
            display: flex;
            gap: 10px;
            justify-content: space-between;
            align-items: center;
            transform: translate(-5.8%);
          }
          li {
            width: 98vw;
            height: 100%;
          }
          @each $rooms in room1, room2, room3, room4, room5, room6, room7, room8,
            room9, room10, room11, room12, room13, room14
          {
            .#{$rooms} {
              width: 100vw;
              height: 100%;
              background: url("/image/#{$rooms}.jpg") no-repeat center center;
              background-size: cover;
            }
          }
        }
        .imgArrow {
          display: flex;
          align-items: center;
          position: absolute;
          top: 0;
          width: 90%;
          height: 100%;
          span {
            position: absolute;
          }
          .nextArrow {
            background: url(../image/nextArrow.png) no-repeat center center;
            width: 50px;
            height: 50px;
            right: -128px;
          }
          .prevArrow {
            background: url(../image/prevArrow.png) no-repeat center center;
            width: 50px;
            height: 50px;
            left: 66px;
          }
        }
        .roomImgnavigation {
          width: 100vw;
          height: 30px;
          position: absolute;
          bottom: 60px;
          ul.roomNav {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            li {
              width: 10px;
              height: 10px;
              transform: rotate(44deg);
              background-color: #cfcfcf;
              margin-right: 15px;
              cursor: pointer;
            }
            li.active {
              background-color: whitesmoke;
            }
          }
        }
      }
    }
    .roomInfo {
      width: 1160px;
      height: 500px;
      margin: 0 auto;
      display: flex;
      background-color: #ffffff;
      justify-content: center;
      flex-direction: column;
      .infoTop {
        h2 {
          font-size: 2rem;
          height: 95px;
          border-bottom: 1.3px solid #000000;
          line-height: 130px;
          font-family: "Josefin Sans", sans-serif;
        }
      }
      .infos {
        display: grid;
        grid-template-areas:
          "roomInfo1 roomInfo2"
          "roomInfo3 roomInfo4";
        > div {
          width: 50%;
          height: 200px;
          padding: 45px 0 0 20px;
          > h4 {
            width: 300px;
            font-weight: 500;
            font-size: 1rem;
            margin: 20px 0;
            font-family: "Josefin Sans", sans-serif;
          }
        }
        .info1 {
          p {
            &::after {
              content: "[침대룸1+거실+화장실2]";
              display: inline-block;
              font-size: 1rem;
              margin-top: 5px;
            }
          }
        }
      }
    }
    .equipment {
      width: 1160px;
      height: auto;
      margin: 0 auto;
      .eqTop {
        h2 {
          font-size: 1.8rem;
          height: 95px;

          line-height: 130px;
          margin: 0 0 30px 0;
          font-family: "Josefin Sans", sans-serif;
        }
      }
      .eqTab {
        width: 100%;
        height: 300px;
        display: flex;
        position: relative;
        li {
          width: 275px;
          height: 60px;
          border: 1px solid #cfcfcfd6;
          text-align: center;
          line-height: 60px;
          letter-spacing: 3px;
          font-size: 1.1rem;
          color: #cfcfcfd6;
          cursor: pointer;
          > div {
            position: absolute;
            width: 1160px;
            height: 200px;
            background-color: transparent;
            left: 0;
            border-bottom: 1px solid #cfcfcfd6;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding: 13px 0 7px 80px;
            visibility: hidden;
            span {
              font-size: 0.9rem;
              color: #090909;
              height: 35px;
              text-align: left;
              letter-spacing: 1px;
              display: inline-block;
              line-height: 34px;
              &::before {
                content: "";
                display: inline-block;
                width: 5px;
                height: 5px;
                background: #d6a884;
                border-radius: 50%;
                margin-right: 10px;
                margin-bottom: 2px;
              }
            }
            span.additionlist:last-child {
              margin-left: 30px;
            }
          }
          .divactive {
            visibility: visible;
            z-index: 100;
          }
        }
        li.active {
          color: #ffffff;
          background-color: #d6a884;
        }
      }
      .btnBox {
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        > div {
          width: 300px;
          height: 60px;
          line-height: 60px;
          text-align: center;
        }
        .phonNum {
          border: 1px solid #cfcfcf;
          color: #c3c2c2;
          font-size: 1rem;
          letter-spacing: 2px;
          font-family: "Josefin Sans", sans-serif;
        }
        .reservationBtn {
          background-color: #d6a884;
          color: #ffffff;
          overflow: hidden;
          a {
            display: inline-block;
            width: 100%;
            height: 100%;
            font-size: 1rem;
            transition: all 0.8s;
            font-family: "Josefin Sans", sans-serif;
          }
          a.hover {
            transform: scale(1.1);
            letter-spacing: 2px;
            border: 1px solid #d6a884;
            color: #d6a884;
            background-color: #ffffff;
          }
        }
      }
    }
    .accommodationList {
      width: 100%;
      height: auto;
      margin: 9% 0 8% 9.5%;
      .accommodationTop {
        width: 100%;
        height: 95px;
        h2 {
          font-size: 2.8em;
          margin-bottom: 20px;
          font-family: "prata";
        }
        span {
          color: rgb(132, 132, 132);
          font-size: 1.1rem;
          margin-left: 20px;
        }
      }
      .accommodationBox {
        width: 100%;
        height: auto;
        margin: 50px 0 0 18px;
        overflow: hidden;
        > .roomList_ul {
          height: 330px;
          display: flex;
          gap: 14px;
          transition: all 0.8s;
          flex-wrap: nowrap;

          li {
            width: 560px;

            a {
              display: inline-block;
              width: 100%;
              height: 100%;
              position: relative;
              div {
                width: 100%;
                height: 100%;
              }
              @each $lists in roomlist1, roomlist2, roomlist3, roomlist4,
                roomlist5, roomlist6, roomlist7, roomlist8, roomlist9
              {
                .#{$lists} {
                  width: 100%;
                  height: 100%;
                  background: url("/image/#{$lists}.jpg")
                    no-repeat
                    center
                    center;
                  background-size: cover;
                }
                h4 {
                  position: absolute;
                  bottom: 30px;
                  color: #ffffff;
                  font-size: 1.7rem;
                  margin-left: 30px;
                  letter-spacing: -2px;
                }
              }
            }
          }
        }
        .roomlistbar {
          width: 1712px;
          height: 4px;
          margin: 5% 0 0 0;
          > ul {
            width: 100%;
            height: 100%;
            background-color: #e9e9e9;
            display: grid;
            grid-template-columns: repeat(9, 1fr);

            li.page {
              width: 100%;
              height: 100%;
              transition: all 0.5s ease;
              cursor: pointer;
            }
            li.page.active {
              background-color: #1c1c1c;
              transition: all 1s;
            }
          }
        }
      }
    }
  }
}
